<p><h4>Программа для добавления, просмотра и поиска заказов.</h4></p>
<p>При добавлении заказа можно выбрать товары  и их количество из списка,</p>   
<p>при этом сумма заказа на форме изменяется в зависимости от выбора.</p>
<p>Реализована возможность поиска заказов по определенным критериям.</p>
