@section scripts{

<script src="~/Scripts/angular.min.js"></script>
<script src="~/Scripts/MyScripts/GetOrder.js"></script>         
    } 
    <div ng-app="OrderApp">
        <input type="text" ng-model="searchLastName" placeholder="Фамилия"  />        
        <input type="text" ng-model="phone" placeholder="Номер телефона" />
            
            <div ng-controller="OrderController">
                <table class="table">
                    <thead style="background-color:gray;">
                        <tr>
                            <td>Имя</td>
                            <td>Фамилия</td>
                            <td>Номер телефона</td>
                            <td>Адрес</td>
                            <td>Дата открытия</td>
                            <td>Дата закрытия</td>
                            <td>Сумма</td>
                            <td></td>
                        </tr>
                    </thead>
                    <tbody>
                      
                        <tr ng-repeat="or in orders|filter:phone|filter:searchLastName">
                            <td>{{or.FirstName}}</td>
                            <td>{{or.LastName}}</td>
                            <td>{{or.PhoneNumber}}</td>
                            <td>{{or.Address}}</td>
                            <td>{{or.DateCreate| mydate| date:"dd-MM-yyyy HH-mm-ss"}}</td>
                            <td>{{or.DateAdd | mydate| date:"dd/MM/yyyy"}}</td>
                            <td>{{or.Summa}}</td>
                            <td></td>
                        </tr>
                    </tbody>


                </table>
            </div>
        </div>
